// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.budget-investment .investment-project-description {
    height:unset ;
}

.social-share-full, .map, .related-content padding, .js-follow, #comments, .investment-project-amount, .total-amount, .ballot-list li span, h2.sidebar-title, .callout.success{
    display:none ;
}

footer .title, footer p {
    display:none
}
 
.no-margin-top {
    margin-top:0 ;
}

.lead {
    font-size: 1rem;
    white-space: pre-wrap;
}