<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>

    <h3>Community Budgeting Event - Phase 4</h3>
    <p>23rd February 2019 – Key Facts</p>
	  <p>Arrival to set up stalls: from 10am</p>
	  <p>Event opens to the public: 11am</p>
	  <p>Event closes to the public: 2pm</p>
	  <p>Community groups and voluntary organisations were invited by December 2018 to apply for up to £5,000 (groups with a constitution) or up to £500 (for those without) to help transform their local area as part of the Council’s Community Budgeting initiative.</p>
	  <p>Over 60 successful projects have been invited to take part in the Community Budgeting Voting Event above. This is a ‘marketplace’ event and will be a drop in basis for those attending to vote.</p>
	  <p>On the day, participating groups / organisations will each be allocated a display table, where each team will provide information about their ‘projects’ (see further information below). This will allow local people, who vote in person at the event to learn more about your project.</p>
	  <p>The votes will be counted and funding awarded to those groups/organisations with the highest number of votes (voting will also take place online in advance and up till 5pm on the day of the event).</p>
	  <p>To encourage more people to attend the event and to reflect feedback from previous CB events, there will be a weighting applied to the on-line votes. This means that voting in person at the event will be worth more to the overall scores.</p>
	  <p>Please note that the amount of revenue and capital funding available is limited. While some groups will secure their full amounts, depending on the scoring and the amounts available some groups may secure only revenue or capital, or no funding at all.</p>
	  <p>Whatever the outcome groups can contact the Communities Team (see contact details below) following the event for support and guidance.</p>

    <p>
      <%= t("pages.help.budgets.description",
           link: link_to(t("pages.help.budgets.link"), budgets_path)).html_safe %>
    </p>

  </div>
</div>
