<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      <%= t("pages.help.budgets.title") %>
    </h3>

    <h3>23rd February 2019 – Key Facts</h3>
	  <p>Arrival to set up stalls: from 10am</p>
	  <p>Event opens to the public: 11am</p>
	  <p>Event closes to the public: 2pm</p>
	  <p>Community groups and voluntary organisations were invited by December 2018 to apply for up to £5,000 (groups with a constitution) or up to £500 (for those without) to help transform their local area as part of the Council’s Community Budgeting initiative.</p>
	  <p>Over 60 successful projects have been invited to take part in the Community Budgeting Voting Event above. This is a ‘marketplace’ event and will be a drop in basis for those attending to vote.</p>
	  <p>On the day, participating groups / organisations will each be allocated a display table, where each team will provide information about their ‘projects’ (see further information below). This will allow local people, who vote in person at the event to learn more about your project.</p>
	  <p>The votes will be counted and funding awarded to those groups/organisations with the highest number of votes (voting will also take place online in advance and up till 5pm on the day of the event).</p>
	  <p>To encourage more people to attend the event and to reflect feedback from previous CB events, there will be a weighting applied to the on-line votes. This means that voting in person at the event will be worth more to the overall scores.</p>
	  <p>Please note that the amount of revenue and capital funding available is limited. While some groups will secure their full amounts, depending on the scoring and the amounts available some groups may secure only revenue or capital, or no funding at all.</p>
	  <p>Whatever the outcome groups can contact the Communities Team (see contact details below) following the event for support and guidance.</p>
    <h3>Please note the following points regarding the voting event:</h3>
    <ul>
      <li>Groups <strong>must be able to attend</strong> the event on 23rd February 2019 or identify a representative to attend on their behalf - as stated in the guidance for applications.</li>
      <li>Each group should have <strong>no more than 4 people</strong> in their team.</li>
      <li>All groups are expected to arrive, register and have their display set up <strong>by 11am</strong>. Groups are expected to stay <strong>until 2pm</strong> and clear their tables afterwards.</li>
      <li>Power is available but is limited. Please contact us prior to the event for information.</li>
      <li>Groups will be provided with a table and two seats, where they can provide information about their bids to local people, who vote in person at the event.</li>
      <li>Information can be displayed in any way you choose, e.g. posters, photos, pictures, props,
      stories, demonstrations, real life examples or verbally. If you require the use of a table top
      display board please let us know as soon as possible as these are limited in number.
      Please also let us know if you have any other requirements.</li>
      <li>It is hoped that each group encourages supporters to come along and vote on the day.
      Anyone who lives is West Dunbartonshire aged 8 and over can vote.</li>
      <li>People can drop in and register / cast their vote throughout the event and do not have to stay for the whole event, but would be most welcome to do so.</li>
      <li>Each person eligible to vote will register and be provided with a voting sheet which will have information on each of the groups and their projects. The voting sheet must be returned to the registration desk or placed in a voting box at the event.</li>
      <li>Free tea, coffee, soft drinks, biscuits and crisps will be provided.</li>
      <li>Please be aware that photographs will be taken at this event and may be used in publicity materials and communication following the event. (Please let us know if this causes any issues for you and/or your group).</li>
      <li>After the event all votes will be counted and added to the on-line votes. The outcome of the
      voting will be published on the Council’s website by Wednesday 27th February 2019.</li>
      <li>Unsuccessful applicants who do not receive any funding in this process will be offered support / advice from the Communities Team, West Dunbartonshire Council, Church St, Dumbarton, G82 1QL, Please contact us by email CommunityBudgeting@westdunbarton.gov.uk</li>
      <li>Transport to the venue is available. If required, please contact us at least 2 weeks prior to the event in order for this to be arranged.</li>
      <li>Please let us know about any access requirements to support your participation by emailing engagement@west-dunbarton.gov.uk.</li>
      <li>BSL users can contact us via contactSCOTLAND. The Council number is 01389 737000 you can also text on (07585883063)</li>
    </ul>
    <h3>Further Information</h3>
    <p>If you would like any further information then please contact:
    Megyn Tyrell, Communities Project Worker (Clydebank)
    Megyn.tyrell@west-dunbarton.gov.uk, Tel: 0141 562 8887
    Brian McQuillan, Communities Project Worker (Dumbarton)
    brian.mcquillan@west-dunbarton.gov.uk, Tel: 01389 737535</p>
    <p>
      <%= t("pages.help.budgets.description",
           link: link_to(t("pages.help.budgets.link"), budgets_path)).html_safe %>
    </p>

  </div>
</div>
